<h2>About</h2>
<p>
  Automagically generate some switch configs.
</p>

<h2>Licences</h2>

<p>
  Fluffy Broccoli is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
</p>
<p>
  Fluffy Broccoli is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
</p>
<p>
  You should have received a copy of the GNU General Public License
  along with Fluffy Broccoli.  If not, see
  <a href="http://www.gnu.org/licenses/">www.gnu.org/licenses/</a>.
</p>

<h3>Additional Licensing</h3>

<p>
  Broccoli image from <a href="https://www.flickr.com/photos/jelene/2384075997">jelene on flickr</a>.
</p>
