<div class="row">
  <h1>{{schema.title}}</h1>
  <form name="mainForm"
      sf-schema="schema"
      sf-form="form"
      sf-model="model"
      sf-options="{ formDefaults: { onChange: 'onChange(model)' }, validateOnRender: true }"></form>
  <div>
    <pre id="resultText" templated-results></pre>
    <button class="btn btn-primary pull-right" clipboard text="resultText" style="margin: 13px">
      <span class="glyphicon glyphicon-copy"></span>
      Copy to clipboard
    </button>
  </div>
</div>
